*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  width:100vw;
  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:#1e1020;
  color:white;

  font-family:sans-serif;
  overflow:hidden;
}

#game-container{
  text-align:center;
}

.title{
  font-size:48px;
  margin-bottom:30px;
}

#start-btn{
  padding:14px 32px;

  border:none;
  border-radius:12px;

  background:#ff77aa;
  color:white;

  font-size:18px;
  cursor:pointer;

  transition:0.3s;
}

#start-btn:hover{
  transform:scale(1.05);
}

#character{
  margin-top:40px;
  font-size:100px;
}
